<div class="content-header row">
  <div class="content-header-left col-md-6 col-12 mb-1">
    <h3 class="content-header-title">Firms</h3>
  </div>
  <div class="content-header-right breadcrumbs-right breadcrumbs-top col-md-6 col-12">
    <div class="breadcrumb-wrapper col-12">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a>Home</a>
        </li>
        <li class="breadcrumb-item">
          <a>Office Setup</a>
        </li>
        <li class="breadcrumb-item active">Firms
        </li>
      </ol>
    </div>
  </div>
</div>
<div class="content-body">
  <section id="ng-buttons">
    <div class="row">
      <!--Checkbox ng-buttons Starts-->
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <div class="d-flex justify-content-between mt-3">
              <h4 class="card-title">List of Firms</h4>
              <button routerLink='add' class="btn btn-outline-primary float-right">Add Firm</button>
            </div>
          </div>
          <div class="card-body">
            <ul class="list-group" *ngIf="firms">
              <li class="list-group-item" *ngFor="let firm of firms">
                Firm: {{ firm.name }}
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!--Checkbox ng-buttons Ends-->
    </div>
  </section>
</div>